
//
// VARIABLES
//

// Colors
$blue: #F2EEAA;

// Grays
$black: #282422;
$darkerGray: #222;
$darkGray: #746d59;
$gray: #BCB7AA;
$lightGray: #e5dfd9;
$white: #fffdfa;

// Font stacks
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
$helvetica: 'Roboto Slab', Helvetica, Arial, sans-serif;
$helveticaNeue: 'Roboto Slab', "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}